* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif;*/
}

header {
  width: 100%;
  height: 15vh;

  background-color: rgba(16, 83, 89, 1);
}

header img {
  width: 50px;
  height: 50px;
  margin: 25px 20px;

  cursor: pointer;
}

main {
  width: 100%;
  height: 100vh;

  background-color: rgba(217, 40, 94, 1);
}

.about {
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
}

.text-box {
  flex: 2;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.6;
}
